body {
    display: flex;
    font-family: Calibri, sans-serif;
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-top: 14px;
    margin: 0px;
    flex-wrap: wrap;
}

card {
    display: flex;
    flex-wrap: wrap;
    color: chartreuse;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    width: 93vw;
    height: 15vh;
    padding: 2vw;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-between;
}

.title {
    text-align: center;
    width: 90vw;
    line-height: 0.5;
}

.label {
    font-size: 20px;
    width: 18vw;
    text-align: right;
}


input {
    width: 15vw;
    margin: 0px 0px 0px 1vw;
}

#button {
    width: 10vw;
    margin-right: 1vw;
}

.calculations {
    display: flex;
    flex-wrap: wrap;
    width: 94.4vw;
    height: 67vh;
    border-radius: 0px 0px 20px 20px;
    align-items: top;
    justify-content: center;
    background-color: grey;
    padding: 20px;
}

.calc {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    width: 29.3vw;
    padding: 14px;
    height: 9.5vh;
}
